<div class="container">
    <div>
        <h3 class="mt-5 p2">Canvas in Action </h3>
    </div>
    <canvas #homeCanvas id="canvas" class="canvas-container"></canvas>

    <div class="switch-container">
        <button class="btn btn-sm btn-primary mr-1" (click)="smileyFaceEmoji()">Smiley Face Emoji</button>
        <button class="btn btn-sm btn-primary mr-1" (click)="initials()">Initials</button>
        <button class="btn btn-sm btn-primary mr-1" (click)="triangle()">Triangle</button>
        <button class="btn btn-sm btn-primary mr-1" (click)="pyramid()">Pyramd</button>        
        <button class="btn btn-sm btn-primary mr-1" (click)="boxes()">Boxes</button>
    </div>
</div>